html {
  font-family: 'Cabin', sans-serif;
  background-color: #22313F;
  color: #fff;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Cabin', sans-serif;
}

.-upcase{
  text-transform: uppercase;
}

.-anchored{
  position: relative;
}
.-anchored:before {
  display: block;
  content: " ";
  margin-top: -6rem;
  height: 6rem;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  background-color: #22313F;
  color: white;
  height: 3rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav h1{
  margin: 0 1rem;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}
nav form{
  height: 3rem;
}
nav .pure-g{
  margin: 0;
}
nav input{
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  border: 0;
  vertical-align: middle;
}

nav .dates{
  text-align: right;
  font-size: 1rem;
  line-height: 3rem;
  margin: 0 0.3rem;
  text-transform: uppercase;
}
nav .dates a{
  text-decoration: none;
  color: white;
  padding: 0 0 0 0.1rem;

  position: relative;
  z-index: 2;
}
nav .dates .current{
  font-weight: bold;
}

nav .red-line{
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: red;
  z-index: 1;
}

/* Featured Events at the top */

.featured-events {
  position: relative;
  z-index: 2;
}

.splash-container{
  margin-top: 3rem;
}

.feature-container {
  color: white;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature {
  padding: 4rem 0rem;
  background: rgba(20, 64, 100, 0.5);
  cursor: pointer;
}

.feature:hover {
  background: rgba(20, 64, 100, 0.2);
}

.feature h2 {
  font-size: 8rem;
  line-height: 8rem;

}
.feature h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.feature h4 {
  font-size: 1rem;
  line-height: 1rem;
}


.feature h1, .feature h2, .feature h3, .feature h4{
  margin: 0;
}

.feature-container.-wdcnz {
  background-image: url('/assets/images/wdcnz.jpg');
}

.feature-container.-codemania {
  background-image: url('/assets/images/codemania.png');
}

.feature-container.-elasticon {
  background-image: url('/assets/images/elasticon.jpg');
}

.feature-container.-saastr {
  background-image: url('/assets/images/saastr.jpg');
}

.feature-container.-wwdc {
  background-image: url('/assets/images/wwdc.jpg');
}

/* Event lists */

.event {
  color: #000;
  background-color: #fff;
  margin: 2rem;
}
.event h1, h2, p{
  margin: 0.5rem;
}
.event h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.event h2{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
.event h3{
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.event p{
  font-size: 0.65rem;
}
.event .details {
  padding: 0.5rem;
}
.event .tags a {
  background-color: #557;
  border-radius: 0.2rem;
  padding: 0.25rem;
  line-height: 1.3rem;
  color: #fff;
  letter-spacing: 0.03rem;
  text-decoration: none;
}

.event .date{
  position: relative;
  background-color: #27ae60;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.event .date h2{
  line-height: 1.5rem;
}

.event .date .bucket {
  font-size: 1rem;
  display: block;
}
.event .date .month {
  font-size: 1.5rem;
  width: 100%;
}
.event .date .rfp {
  margin: 0;
  padding: 1rem 0;
  display: block;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width:567px) {
  .event .date h2{
    margin: 0;
  }
  .event .date .month {
    font-size: 1rem;
  }
}

footer {
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  margin: 3rem 0 0 0;
  padding: 3rem 0.5rem;
}