html {
  font-family: 'Cabin', sans-serif;
  background-color: #22313F;
  font-size: 16px;
  color: #fff;
}
h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Cabin', sans-serif;
}

.-upcase{
  text-transform: uppercase;
}

.-anchored{
  position: relative;
  left: -9999px;
}

.-anchored:before {
  display: block;
  content: " ";
  margin-top: -6rem;
  height: 6rem;
  visibility: hidden;
}

a {
  text-decoration: none;
}

nav {
  background-color: #22313F;
  height: 3rem;
}
nav a {
  color: #fff;
}
nav h1{
  margin: 0 1rem;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}
nav form{
  height: 3rem;
}
nav .pure-g{
  margin: 0;
}
nav input{
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;

  margin: 0;
  padding: 0 0.5rem;
  height: 100%;
  width: 100%;
  border: 0;
  vertical-align: middle;
}

nav .dates{
  text-align: right;
  font-size: 1rem;
  line-height: 3rem;
  margin: 0 0.3rem;
  text-transform: uppercase;
}
nav .dates a{
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  padding: 0 0 0 0.1rem;

  position: relative;
  z-index: 2;
}
nav .dates .current{
  font-weight: bold;
}
nav .dates a.present {
  color: rgba(255,255,255,1);
}
nav .dates a:not(.present):hover {
  cursor: default;
}

nav .red-line{
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: red;
  z-index: 1;
}
nav .red-line.hidden{
  visibility: hidden;
}

/* Featured Events at the top */

.featured-events {
  position: relative;
  z-index: 2;
}

.splash-container{
  margin-top: 3rem;
}

.feature-container {
  color: #fff;
  text-align: center;
  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature {
  padding: 4rem 0rem;
  background: rgba(20, 64, 100, 0.5);
  cursor: pointer;
}

.feature:hover {
  background: rgba(20, 64, 100, 0.2);
}

.feature h2 {
  font-size: 8rem;
  line-height: 8rem;
  word-break: break-word;
}
.feature h3 {
  font-size: 2rem;
  line-height: 2rem;
}
.feature h4 {
  font-size: 1rem;
  line-height: 1rem;
}
@media screen and (max-width:767px) {
  .feature h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .feature h3 {
    font-size: 1rem;
    line-height: 1rem;
  }
}


.feature h1, .feature h2, .feature h3, .feature h4{
  margin: 0;
}

.feature-container.-wdcnz {
  background-image: url('/assets/images/wdcnz.jpg');
}

.feature-container.-codemania {
  background-image: url('/assets/images/codemania.png');
}

.feature-container.-elasticon {
  background-image: url('/assets/images/elasticon.jpg');
}

.feature-container.-saastr {
  background-image: url('/assets/images/saastr.jpg');
}

.feature-container.-wwdc {
  background-image: url('/assets/images/wwdc.jpg');
}

/* Event lists */

.event {
  color: #000;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;

  background-color: white;
  margin: 1rem;
}
.event h1, h2, p{
  margin: 0.5rem;
}
.event a{
  color: #000;
}
.event h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.event h2{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0;
}
.event h3{
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.event .left {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: flex-start;
}
.event .tags-container {
  width: 100%;
  margin-top: -0.5rem;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;

}
.event .tags-container a {
  display: block;
  float: left;
  margin: 0.1rem 0.1rem 0.1rem;
  min-width: 1rem;

  background-color: #557;
  border-radius: 0.2rem;
  padding: 0.25rem;

  color: #fff;
  font-size: 0.65rem;
  line-height: 0.65rem;
  letter-spacing: 0.03rem;
  text-decoration: none;
  text-align: center;
}
.event .flair a {
  background-color: #27ae60
}

.event .right {
  background-color: #27ae60;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
}
.event .date, .event .rfp {
  width: 100%;
  text-align: center;

  display:flex;
  flex:1 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  display: -webkit-flex;
  -webkit-flex:1 0 auto;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
}

.event .date h2{
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.event .date h2 small {
  font-size: 1rem;
}

.event .rfp {
  background-color: rgba(0,0,0,0.3);
}
.event .rfp p {
  margin: 0.5rem;
}


@media screen and (max-width:567px) {
  .event .date {
    margin: 0;
  }
  .event .date h2{
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .event .date h2 small {
    font-size: 0.6rem;
  }
  .event .rfp {
    font-size: 0.6rem;
  }
}

footer {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 2rem 0.5rem;
}
footer p {
  margin: 2rem 0;
}
footer a, footer a:visited {
  color: #fff;
  text-decoration: underline;
}
footer .nz{
  position: relative;
  top: 0.5rem;
  height: 2rem;
  padding: 0 0.5rem;
}

#search-term-region {
  display: none;
  margin: 2rem;
  text-align: center;
}